<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="index">
   <head>
    <title>Category editor</title>    

  </head>

  <body>
  
	    <th:block layout:fragment="left-navbar">
	    
	    	<div layout:replace="fragments/left-navbar(currentLink='accounts')">
	    		<th:block layout:fragment="left-navbar-extra">
	    			<div layout:replace="fragments/left-navbar-extraitem(itemName=${account.id} ? 'Edit account' : 'Add account')"></div>	
	       		</th:block>
	    	</div>   
	    	
		</th:block>
        
        <div layout:fragment="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
       
        	<h1 class="page-header" th:text="${account.id} ? ${account.name} : 'Add account'">Add account</h1>
        	
        	<div th:replace="fragments/messages"></div>
        	
        	<form method="post" th:action="@{/accounts/save}" th:object="${account}" class="form-horizontal clearfix" role="form">
        		<div style="max-width: 500px">
	        		<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
					    <label class="control-label col-sm-4" style="text-align: left" for="name">Name:</label>
					    <div class="col-sm-8">
					      <input type="text" name="name" id="name" class="form-control" placeholder="Enter name" th:field="*{name}"/>
					      <p th:if="${#fields.hasErrors('name')}" class="alert alert-danger" th:errors="*{name}"></p>
					    </div>
					</div>			
					<div class="form-group col-sm-12">					
						<button type="submit" class="btn btn-primary" th:text="*{id} ? 'Update' : 'Save'">Submit</button>
						<a th:href="@{/accounts}" class="btn btn-default">Back</a>
					</div>
				</div>
				<input type="hidden" name="id" th:field="*{id}" th:if="*{id}"/>
			</form>
        </div>
        
        <th:block layout:fragment="javascript">
        	<script type="text/javascript">
        	//<![CDATA[
			    $(function(){
			    	var tooltips = $('[data-tooltip="true"]');
			    	tooltips.tooltip({trigger: "hover"});
			    	
			    	function wheretoplace(){
			    	    var width = window.innerWidth;
			    	    if (width<768) return 'top';
			    	    return 'right';
			    	}
			    	$('[data-content]').popover({
			    		container: "body",
			    		//placement: wheretoplace,
			    		trigger: "hover focus"
			    	});
			    });
			//]]>	
			</script>
  	 	</th:block>
  </body>
</html>
