<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="index">
   <head>
    <title>Categories</title>    

  </head>

  <body>
		<th:block layout:fragment="modals">
		
			<div class="modal fade" id="RemoveWarning" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			    
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Warning</h4>
			      </div>
			      
			      <div class="modal-body">
			        Are you sure you want to remove category named <strong>Name</strong>?
			      </div>
			      
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			        <a><button type="button" class="btn btn-danger">Yes</button></a>
			      </div>
			      
			    </div>
			  </div>
			</div>
			
		</th:block> 
  
	    <div layout:fragment="left-navbar">
	    
	    	<div layout:replace="fragments/left-navbar(currentLink='categories')"></div>     
	    	
		</div>
        
        
        <div layout:fragment="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			
        	<h1 class="page-header">Categories</h1>
        	<div th:replace="fragments/messages"></div>
        	
			<div><a th:href="@{/categories/add}" class="btn btn-primary">Add new category</a></div>
        	<div class="table-responsive">
             	<table class="table table-striped table-centered">
	              	<thead>
		                <tr class="text-nowrap">
						  <th width="10%">Actions</th>
						  <th>#</th>
		                  <th width="80%">Name</th>
		                </tr>
	              	</thead>
	                <tbody>
		                <tr th:each="category, categoryStats: ${categories}">		                
						  <td>
						    <a title="Edit category" data-tooltip="true" th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
		                  	<button data-action="/categories/remove/1" th:attr="data-action=@{/categories/delete/{id}(id=${category.id})}" data-tooltip="true" title="Remove category" data-toggle="modal" data-target="#RemoveWarning" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
						  </td>
						  <td th:text="${categoryStats.count}"></td>
		                  <td th:text="${category.name}"></td>
		                </tr>
		                
		                <tr th:if="${#lists.isEmpty(categories)}">
		                	<td colspan="6" class="h4">No categories to display.</td>
		                </tr>
	              	</tbody>
            	</table>
          	</div> 
        </div>
		
		<th:block layout:fragment="javascript">
        	<script type="text/javascript">
			    $(function(){
			    	$('[data-tooltip="true"]').tooltip({trigger: "hover"});
			    	
			    	$('#RemoveWarning').on('show.bs.modal', function (event) {
			    		  var button = $(event.relatedTarget); // Button that triggered the modal
			    		  var url = button.data('action');
			    		  var modal = $(this);
			    		  modal.find('.modal-footer a').attr("href", url);
			    		  modal.find('.modal-body strong').html(button.parent().next().next().html());
			    	})
			    });
				
			</script>
        </th:block>
		
  </body>
</html>
