<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="index">
   <head>
    <title>Password change</title>    

  </head>

  <body>
        
        <div layout:fragment="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        	
        	<h1 class="page-header">Change your password</h1>
        	
        	<div th:replace="fragments/messages"></div>
        	
        	<form method="post" th:action="@{/profile/changepassword}" class="form-horizontal clearfix" style="max-width: 500px" role="form">
				<div class="form-group">
				    <label class="control-label col-sm-4" style="text-align: left" for="currentPassword">Current password:</label>
				    <div class="col-sm-8">
				    	<input type="password" name="currentPassword" id="currentPassword" class="form-control" placeholder="Enter current password"/>
				    </div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" style="text-align: left" for="newPassword">New password:</label>
				    <div class="col-sm-8">
				    	<input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Enter new password"/>
				    </div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" style="text-align: left" for="repeatPassword">Repeat password:</label>
				    <div class="col-sm-8">
				    	<input type="password" name="repeatPassword" id="repeatPassword" class="form-control" placeholder="Repeat new password"/>
				    </div>
				</div>
				<input type="submit" class="btn btn-primary" value="Change"/>
				<a th:href="@{/profile}" class="btn btn-default">Back</a>
			</form>
        </div>
        
  </body>
</html>
